@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo1.png);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
    color: #1CB698;
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
    color: aqua;
}
.inicio .contenido-banner .redes a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #1CB698;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}

.inicio button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #1CB698;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.inicio button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.inicio button:hover .overlay{
    width: 100%;
}
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.mi-parrafo {
    margin-bottom: 20px; 
    white-space: pre-line; 
    line-height: 1.5; 
}


.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

/* SECCION HABILIDADES */
.HABILIDADES {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.HABILIDADES .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    text-align: center; /* Centra el contenido */
}

.HABILIDADES h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.habilidades-tecnicas {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap;
}

.habilidad {
    background-color: #1e2326; /* Color de fondo del cuadro */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el ícono y el texto horizontalmente */
    font-size: 18px; /* Tamaño del texto */
    width: 150px; /* Ancho fijo para los cuadros */
    text-align: center; /* Centra el texto dentro del cuadro */
}
.habilidad:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #77bdaf; 
}

.habilidad img {
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    font-size: 48px; /* Tamaño de los iconos */
    margin-bottom: 10px; /* Espacio debajo del ícono */
    transition: transform 0.3s ease-out;
}
.habilidad:hover img {
    background-color: #77bdaf; 
    transform: scale(1.4); /* Aumenta en un 20% al hacer hover */
   
}



.habilidad i {
    font-size: 48px; /* Tamaño de los iconos */
    margin-bottom: 10px; /* Espacio debajo del ícono */
    transition: transform 0.3s ease-out;
}
.habilidad:hover i {
    transform: scale(1.3); /* Aumenta en un 20% al hacer hover */
}

/* Colores específicos para cada habilidad */
.habilidad .fa-html5 {
    color: #E34F26;
}

.habilidad .fa-css3-alt {
    color: #1572B6;
}

.habilidad .fa-js-square {
    color: #F7DF1E;
}

.habilidad .python-icon {
    background: linear-gradient(135deg, #3776AB 50%, #FFD43B 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.habilidad .fa-react {
    color: #61DAFB;
}

.habilidad .mysql-icon {
    color: #00758F;
}

.habilidad .postgresql-icon {
    color: #336791;
}

.habilidad .fa-node-js {
    color: #68A063;
}

/* C# Icon */
.csharp-icon {
    width: 50px;
    height: 50px;
    background-color: #68217A;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.csharp-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}
.csharp-text2 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

/* SECCION CURRICULUM */
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION PORTFOLIO */
.portfolio {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    width: 340px; /* Ancho fijo para el contenedor */
    height: 300px; /* Altura fija para mantener la uniformidad */
    margin: 10px;
    cursor: pointer;
    overflow: hidden; /* Evita que el overlay se desborde */
    transition: transform 0.3s ease;
    border-radius: 10px; /* Opcional: redondear las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Opcional: agregar una sombra para profundidad */
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease; /* Efecto de zoom para la imagen */
}

.portfolio .galeria .proyecto:hover img {
    transform: scale(1.05); /* Efecto de zoom sutil al pasar el cursor */
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, 0.8), rgba(28, 182, 152, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra el contenido horizontalmente */
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no desborde el contenido */
}

.portfolio .galeria .proyecto:hover .overlay {
    opacity: 1;
    background: linear-gradient(rgba(28, 182, 152, 0.95), rgba(28, 182, 152, 0.95)); /* Color más oscuro del overlay */
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 10px;
    font-size: 24px;
    transition: margin-bottom 0.3s ease;
}

.portfolio .galeria .proyecto .overlay .iconos {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre los iconos */
    margin-top: 10px;
}

.portfolio .galeria .proyecto .overlay .icono {
    font-size: 30px; /* Ajusta el tamaño del icono */
    transition: transform 0.3s ease;
}

/* Estilos específicos para los iconos */

.portfolio .galeria .proyecto .overlay .icono.react {
    color: #61DAFB; /* Azul React */
}

.portfolio .galeria .proyecto .overlay .icono.node {
    color: #135013; /* Verde Node.js */
}

.portfolio .galeria .proyecto .overlay .icono.html {
    color: #E34F26; /* Color de icono para HTML5 */
}

.portfolio .galeria .proyecto .overlay .icono.css {
    color: #1572B6; /* Color de icono para CSS3 */
}

.portfolio .galeria .proyecto .overlay .icono.js {
    color: #F7DF1E; /* Color de icono para JavaScript */
}

.portfolio .galeria .proyecto:hover .overlay .icono {
    transform: scale(1.1); /* Efecto de aumento sutil en hover */
}
/* Estilos para los iconos de GitHub y Proyecto */
.portfolio .galeria .proyecto .overlay .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: auto; 
    margin-bottom: 10px; 
    padding: 0 10px; 
    width: 100%; 
    box-sizing: border-box; 
    align-items: center; 
}

/* Estilo para los enlaces de iconos sociales */
.portfolio .galeria .proyecto .overlay .social-icons .icono {
    font-size: 24px; 
    color: #fff; 
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center; 
}
/* Estilos para los iconos de GitHub y Proyecto */
.portfolio .galeria .proyecto .overlay .social-icons {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 0 10px; 
    position: absolute; 
    bottom: 10px; 
    width: 100%; 
}

.portfolio .galeria .proyecto .overlay .social-icons .icono {
    display: flex;
    align-items: center; 
    text-decoration: none; 
}

.portfolio .galeria .proyecto .overlay .social-icons .icono .text {
    margin-left: 8px; 
    color: #fff; 
    font-size: 16px; 
}

.portfolio .galeria .proyecto .overlay .social-icons .icono i,
.portfolio .galeria .proyecto .overlay .social-icons .icono img {
    font-size: 30px; 
    color: #fff; 
    transition: transform 0.3s ease; 
}

.portfolio .galeria .proyecto .overlay .social-icons .icono:hover i,
.portfolio .galeria .proyecto .overlay .social-icons .icono:hover img {
    transform: scale(1.3); 
}

.portfolio .galeria .proyecto .overlay .social-icons .icono img {
    width: 40px; 
    height: 40px; 
}


/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto label.hidden {
    position: absolute;
    left: -9999px;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

/* PIE DE PAGINA FOOTER */
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #1CB698;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover{
    background-color: #1CB698;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
footer p {
    margin: 5px 0;
}

footer a {
    color: #1CB698;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.alerta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1CB698;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    border-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    z-index: 1000; 
}


/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }


    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
